name: WIF
on: workflow_dispatch
jobs:
  wift-job:
    runs-on: ubuntu-20.04
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
    - uses: 'actions/checkout@v3'
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      with:
         workload_identity_provider: 'projects/842831808554/locations/global/workloadIdentityPools/githubactions/providers/github'
         service_account: 'github-actions@vensaraproject.iam.gserviceaccount.com'
         
    - name: Setup cloud SDK
      uses: 'google-github-actions/setup-gcloud@v1'
    - id: 'gcloud'
      name: 'gcloud'
      run: |
        gcloud pubsub topics list
        gcloud pubsub topics list-subscriptions 
        
      
